$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

a {
  color:black;
}
* {
  box-sizing: initial;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header {
   padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}



.branch {
  margin-right: 22px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  ul {
    li {
      list-style-type: none;
    }
    white-space:nowrap;
    overflow:hidden;
  }
  div {
    white-space:nowrap;
    overflow:hidden;
  }
  h4 {
    white-space:nowrap;
    overflow:hidden;
  }
}

.danger {
  background: #fb5d5d;
}

.warning {
  background: #fefe8b;
}

.ok {
  background: #3bb63b;
}

#project-chooser {
  margin-bottom: 10px;
  margin-top: -10px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1960px;
  }
  /* Remove the padding we set earlier */
  .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
}

