  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><a href="{{project.web_url}}" target="_blank"> {{project.name}} </a> <span class="hidden-xs"> - {{project.description}}</span></div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="branch col-xs11 col-md-5 col-sm-5 col-lg-5 well"
    ng-repeat="branch in branches"
    ng-class="branch.css">

  <h4> <a href="{{branch.jiraUrl}}" target="_blank"> {{branch.name}}</a> </h4>
    <ul>
      <li> By: <strong>{{branch.commit.committer_name}} </strong></li>
      <li> On: <strong>{{branch.commit.committed_date}}</li> </strong>
    </ul>
  </div>
</div>
